[submodule "assignment-autotest"]
	path = assignment-autotest
	url = https://github.com/cu-ecen-5013/assignment-autotest
[submodule "buildroot"]
	path = buildroot
	url = https://gitlab.com/buildroot.org/buildroot/
[submodule "assignment-7-jauy2310"]
	path = ldd3
	url = git@github.com:cu-ecen-aeld/assignment-7-jauy2310.git
[submodule "ldd3"]
	url = https://github.com/cu-ecen-aeld/assignment-7-jauy2310.git
